<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Forms Detect</title>
</head>
<body>
  <form name="consult" method="POST" data-netlify="true" action="/success/" hidden>
    <input type="hidden" name="form-name" value="consult" />
    <input type="hidden" name="service" />
    <input type="hidden" name="area" />
    <input name="name" />
    <input name="phone" />
    <input name="address" />
    <textarea name="message"></textarea>
  </form>
</body>
</html>
